.land-wrapper {
  width: 100%;
  min-height: 98vh;

  background-image: url("../../img/world.jpg");
  background-size: 100% 100%;
}

.land-footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  color: #dbdbe3;
}

.land-footer-bg {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
}

.land-footer-left,
.land-footer-right,
.land-footer-center {
  z-index: 2;
  width: 30%;
  height: 80%;
  position: relative;
  padding: 0.75rem;
}

.land-footer-center {
  border-left: 2px solid rgb(128, 127, 127);
  border-right: 2px solid rgb(128, 127, 127);
}

.land-footer-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.land-footer-left div {
  margin-bottom: 1rem;
  width: 100%;
}
.land-footer-left i {
  margin-right: 0.5rem;
}
.land-footer-center {
  display: flex;
  flex-wrap: wrap;
}

.land-footer-center-text {
  text-align: center;
}

.land-footer-center-logos {
  margin: 1rem;
  flex: 1 0 21%;
  display: flex;
  align-items: center;
}

.land-footer-right-text {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
}
.land-footer-right-sign {
  float: right;
}

.land-footer-right-text a {
  color: white;
  margin: 0.5rem;
}

.land-title {
  color: white;
  display: inline-block;
  font-size: 4rem;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.land-logo {
  position: absolute;
  top: 10%;
  left: 0px;
  padding: 1.5rem;
  background-color: #272732;
  color: white;
  font-size: 2rem;
}

.land-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78vh;
}

@media screen and (max-width: 1200px) {
  .land-footer {
    display: block;
  }

  .land-footer-left,
  .land-footer-center,
  .land-footer-right {
    width: 95%;
    text-align: center;
  }

  .land-footer-center {
    border-left: none;
    border-right: none;
    border-top: 2px solid rgb(128, 127, 127);
    border-bottom: 2px solid rgb(128, 127, 127);
  }
}

@media screen and (max-width: 520px) {
  .land-title {
    font-size: 3.5rem;
    position: relative;
    top: 100px;
  }
  .land-footer-center-text {
    font-size: 0.7rem;
  }

  .land-content {
    height: 70vh;
  }
}

@media screen and (max-width: 400px) {
  .land-title {
    font-size: 3rem;
    position: relative;
    top: 100px;
  }
}
