.addplace-btn {
  background-color: rgb(209, 57, 82);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 20px;
  padding: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  font-family: "Rubik", sans-serif;
}
.addplace-btn:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.addplace-title {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
  color: rgb(161, 157, 157);
  border-bottom: 2px solid rgb(180, 179, 179);
  margin-bottom: 1rem;
}
